.header {
  .navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    &__collection {
      display: flex;
      gap: 50px;
    }
    &__item {
      font-size: 15px;
      line-height: 20px;
      color: $txt-color;
      padding-bottom: 10px;
      position: relative;
      cursor: pointer;
      transition: 0.5s;
      &::after {
        content: "";
        position: absolute;
        transition: all 0.5s ease;
        height: 2px;
        width: 0%;
        bottom: 0;
        left: 0;
        background-color: $bg-py;
      }
    }
    &__item:hover {
      color: #000;
      transform: translateY(-5px);
    }
    &__item:hover::after {
      width: 100%;
    }
    &__btn {
      @include btn();
    }
  }

  &__container {
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 77px;
  }

  &__left {
    // width: calc(50% - 38px);
    width: 50%;
  }
  &__title {
    padding-top: 90px;
    font-size: 80px;
    line-height: 77px;
    color: $title-color;
  }
  &__description {
    padding-top: 30px;
    font-size: 20px;
    line-height: 30px;
    color: $txt-color;
  }
  &__btns {
    padding-top: 50px;
    display: flex;
    gap: 40px;
    align-items: center;
  }
  &__btn {
    @include btn($bg-py);
  }
  &__icon {
    padding: 18px 20px;
    font-size: 30px;
    border-radius: 50%;
    border: 1px solid #e7e7e7;
  }
  &__right {
    width: 50%;
  }
  &__img {
    width: 610px;
  }
}

@media (max-width: 990px) {
  .header {
    .navbar {
      &__collection {
        display: none;
      }
      &__btn {
        padding: 10px 30px;
      }
    }
    &__container {
      flex-wrap: wrap;
      text-align: center;
    }
    // &__left{
    //     width: 100%;
    // }
    &__btns {
      margin: 0 auto;
      flex-direction: column;
    }
    &__btn {
      padding: 10px 30px;
    }
    &__icon {
      padding: 10px 12px;
      font-size: 20px;
    }
    &__title {
      font-size: 50px;
      line-height: 57px;
    }
    &__description {
      font-size: 15px;
      line-height: 25px;
    }
    &__right{
      margin: 0 auto;
    }
    &__img {
      max-width: 400px;
    }
  }
}

@media (max-width: 600px) {
  .header {
    .navbar {
      &__collection {
        display: none;
      }
      &__btn {
        padding: 10px 30px;
      }
    }
    &__container {
      flex-wrap: wrap;
      text-align: center;
    }
    &__left {
      width: 80%;
    }

    &__btn {
      padding: 10px 30px;
      text-wrap: nowrap;
    }
    &__title {
      font-size: 40px;
      line-height: 37px;
    }
    &__description {
      font-size: 10px;
      line-height: 20px;
    }
    &__img{
        width: 300px;
    }
  }
}
